*,
*::before,
*::after {
  box-sizing: border-box;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
img,
ul
{
  font-family: 'Inconsolata', monospace;
  margin: 0;
}
button
{
  cursor: pointer;
}
.flex
{
  display: flex;
}
a{
  text-decoration: none;
  color: white;
  cursor:pointer;
}
ul 
{
  list-style-type: none;
  justify-content:space-between;
  padding: 0;
}
.navigation
{
  width: 100%;
  color:white;
  max-height:15vh;
  background-color: rgb(4, 0, 48);
  align-items: center;
}
.link
{
  font-size:2.5rem;
  padding: 1rem;
  margin-inline:2rem;
}
.TopSongs,.TopArtist
{
  border: 1px solid black;
  flex-direction: column;
  gap:1rem;
  min-height:40vh;
  margin-top:2rem;
  margin: 3rem;
  padding: 1rem;
}
.Artistheading,.Songheading
{
  justify-content: space-between;
}
.tableArtist
{
  border-right: 1.5px solid black;
  border-top: 1.5px solid black;
  border-bottom:1.5px solid black;
  border-collapse: collapse;
  font-size:2rem;
  text-align: center;
}
th
{
  background-color: rgb(21, 0, 47);
  color:rgb(159, 30, 30);
  padding:.5rem;
}
th,td
{
  border-left:1.5px solid black;
  padding:2rem 1rem;
}
tr{
  border-bottom: 2px solid black;
}
.songcontainer
{
  width: 100%;
  background-color:rgba(104, 104, 104, 0.95);
  height:100vh;
  padding: 2rem;
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1;
}
.addsongdetails
{
  align-items: center;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin:0 auto;
  background-color:lightgoldenrodyellow;
}
.formdata
{
  font-size:2rem;
  padding:2rem 4rem;
  width:100%;
  min-height:50vh;
  gap:4rem;
  flex-direction: column;
  justify-content: space-evenly;
  border:1px solid black;
}
.field
{
  justify-content:space-between;
}
.input
{
  width:50%;
  height:3rem;
  outline: none;
  border: none;
  border:.5px solid black;
  border-radius: 2px;
}
.button
{
  font-size:1.7rem;
  text-align: center;
  color:white;
  background-color: rgb(4, 0, 48);
  border-radius:5px;
}
option
{
  background-color: antiquewhite;
}
.artistcontianer
{
  width: 100%;
  background-color:rgb(76, 76, 76);
  height:100vh;
  padding:4rem 2rem;
  justify-content: center;
  display: none;
  position:fixed;
   /* Stay in place */
  z-index:2;
}
.addartist
{
  flex-direction: column;
  width: 50%;
  margin: auto;
  background-color: bisque;
  border: 1px solid black;
}
.artistdata
{
  font-size:2rem;
  padding:2rem 4rem;
  min-height:50vh;
  gap:4rem;
  flex-direction: column;
  justify-content: space-evenly;
}
.header
{
  justify-content: space-between;
  border-bottom: 2px solid black;
  padding:1rem 4rem;
}
.header >h1
{
  font-size:2rem;
}
.cross
{
  font-size:1.6rem;
  font-weight: bolder;
}
.songheader
{
  width: 100%;
  justify-content: space-between;
  padding: 1.5rem 4rem;
  border: 1px solid black;
}

.alert_message
{
    display:flex;
    padding:0 2em;
    justify-content: space-between;
    background-color:rgb(177, 255, 177);
}
.alert_message p,.warning_message p
{
    align-self: center;
    font-size: 2em;
}
.cross1
{
    font-size:3.2em;
    font-weight: bold;
    cursor: pointer;
}
.warning_message
{
    display:flex;
    padding:0 2em;
    justify-content: space-between;
    background-color:tomato;
}